// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//MAIN PAGE

body{
    font-family: "Montserrat", sans-serif;
}

.image-main-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .title{
        font-size: 35px;
        background-color: #ececec;
        padding: 15px;
        border-radius: 25px;
    }

    .login-register{
        background-color: #ececec;
        padding: 20px;
        margin-left: 15%;
        border-radius: 20px;
        font-size: 18px; 
        text-transform: uppercase;
        font-weight: bold;
    }
}

//LOGIN
.logo{
    width: 80px;
}
.header-menu{
    background: #f3d250;
}

//FORMS

.align-items{
    display: flex;
    align-items: center;
    justify-content: center;
}

//COMMON CLASS

.margin-top-20{
    margin-top: 20px;
}

.margin-right-10{
    margin-right: 10px;
}

.margin-left-10{
    margin-left: 10px;
}

label{
    margin-bottom: 0px;
}
.card-header{
    background-color: #ececec;
    border-bottom: none;
}
.font-weight-bold{
    font-weight: bold;
}