// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//MAIN PAGE

body{
    font-family: "Montserrat", sans-serif; 
}

.image-main-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .title{
        font-size: 35px;
        background-color: #ececec;
        padding: 15px;
        border-radius: 25px;
    }

    .login-register{
        background-color: #ececec;
        padding: 20px;
        margin-left: 15%;
        border-radius: 20px;
        font-size: 18px; 
        text-transform: uppercase;
        font-weight: bold;
    }
}
.welcome-text{
    font-size: 25px;
    text-transform: uppercase;
    margin-right: 30px;
}
.welcome-gif{
    width: 280px;
}

//LOGIN
.logo{
    width: 80px;
}
.header-menu{
    background: #f3d250;
}

//FORMS

.submenu-options{
    .align-items{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .item-option{
        border-radius: 10px;
        padding: 10px;
        background-color: #90ccf4;
    }
    a{
        color: black;
        text-decoration: none;
    }
    .item-option:hover{
        background-color: #f78888;
    }
}


//SUBMENU OPTIONS

.submenu-options{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    //border: 1px solid grey;
    //background-color: #90ccf4;
}

//COMMON CLASS

.margin-top-20{
    margin-top: 20px;
}

.margin-top-50{
    margin-top: 50px;
}

.margin-right-10{
    margin-right: 10px;
}

.margin-right-15{
    margin-right: 15px;
}

.margin-left-10{
    margin-left: 10px;
}

label{
    margin-bottom: 0px;
}
.card-header{
    background-color: #ececec;
    border-bottom: none;
}
.font-weight-bold{
    font-weight: bold;
}
.cursor-pointer{
    cursor: pointer;
}
.center-horizontal-vertical{
    display: flex;
    justify-content: center;
    align-items: center;
}